 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Home</title>
<!--Master Page Head-->
<script type="text/javascript" src="wpscripts/jsFlashVer.js"></script>
<script type="text/javascript" src="wpscripts/jquery.js"></script>
<script type="text/javascript" src="wpscripts/jquery.wplightbox.js"></script>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script src="wpscripts/smoothscroll.js"></script>
<style type="text/css">
body{margin:0;padding:0;}
.Body-P
{
    margin:0.0px 0.0px 3.0px 0.0px; text-align:left; font-weight:400;
}
.Heading-3-C
{
    font-family:"Montserrat", serif; color:#f5f5f5; font-size:16.0px; line-height:1.19em;
}
.Menu-C
{
    font-family:"Montserrat", serif; color:#ffffff; font-size:15.0px; line-height:1.50em;
}
.Heading-2-C
{
    font-family:"Montserrat", serif; font-weight:700; color:#545454; font-size:24.0px; line-height:1.21em;
}
.Body-C
{
    font-family:"Montserrat", serif; color:#878787; font-size:13.0px; line-height:1.50em;
}
</style>
<script type="text/javascript" src="wpscripts/jspngfix.js"></script>
<link rel="stylesheet" href="wpscripts/wpstyles.css" type="text/css"><script type="text/javascript">
var blankSrc = "wpscripts/blank.gif";
</script>
<script type="text/javascript">
$(document).ready(function() {

$('a[rev*=wplightbox]').wplightbox({ strImgDir: 'wpimages/', strScriptDir: 'wpscripts/', nButtonType: 2, nBorderType: 6 });
})
</script>
</head>

<body text="#000000" style="background:#ffffff url('wpimages/bgforslider.jpg') repeat-x scroll top center; height:992px;">
<div style="background-color:transparent;margin-left:auto;margin-right:auto;position:relative;width:980px;height:992px;">
<div id="clouds">
	<div class="cloud x1"></div>
	<!-- Time for multiple clouds to dance around -->
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
</div>
<div id="txt_2" style="position:absolute;left:239px;top:282px;width:482px;height:77px;overflow:hidden;">
<h3 class="Wp-Heading-3-P" style="margin-top:0px"><span class="Heading-3-C">Set up live chat on your website in just 5 minutes. Increase Sales and improve Customer
    Service START RIGHT NOW!</span></h3>
</div>
<div id="txt_4" style="position:absolute;left:368px;top:41px;width:584px;height:57px;overflow:hidden;">
<p class="Wp-Menu-P"><span class="Menu-C"><a class="Wp-Menu-P-H" href="#" style="text-decoration:none;">HOME</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="Wp-Menu-P-H" href="#video" style="text-decoration:none;">VIDEO </a><a class="Wp-Menu-P-H" href="#gallery" style="text-decoration:none;">&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="Wp-Menu-P-H" href="#contact" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;</a>&nbsp;<a class="Wp-Menu-P-H" href="#contact" style="text-decoration:none;">&nbsp;</a><a class="Wp-Menu-P-H" href="#LOGIN" style="text-decoration:none;">LOGIN</a><a class="Wp-Menu-P-H" href="#contact" style="text-decoration:none;"> </a></span></p>
</div>
<a name="intro" style="position:absolute; left:0px; top:586px"></a>
<img src="wpimages/wpb16517d9_05_06.jpg" border="0" width="980" height="19" id="pic_12" alt="" style="position:absolute;left:0px;top:586px;">
<a name="features" style="position:absolute; left:0px; top:690px"></a>
<img src="wpimages/wp81002636_06.jpg" border="0" width="959" height="19" id="pic_14" alt="" style="position:absolute;left:0px;top:690px;">
<div id="txt_29" style="position:absolute;left:10px;top:660px;width:960px;height:47px;overflow:hidden;">
<h2 class="Wp-Heading-2-P" style="margin-top:0px"><span class="Heading-2-C">LOGIN</span></h2>
</div>
<img src="wpimages/final-header-cloud-dark.png" border="0" id="pic_40" alt="" onload="OnLoadPngFix()" style="position:absolute;left:24px;top:18px;">
<img src="wpimages/wp0442a7df_06.png" border="0" width="960" height="4" id="pcrv_23" alt="" onload="OnLoadPngFix()" style="position:absolute;left:11px;top:919px;">
<div id="txt_36" style="position:absolute;left:11px;top:964px;width:416px;height:29px;overflow:hidden;">
<p class="Body-P"><span class="Body-C">© All rights reserved -<wbr> Support Over Cloud</span></p>
<p class="Body-P"><span class="Body-C"><br></span></p>
</div>
<div id="frag_2" style="position:absolute;left:626px;top:21px;width:34px;height:20px;">
    
</div>
<a name="LOGIN" style="position:absolute; left:416px; top:650px"></a>
<!-- LOGIN FORM -->
  <form action="/adminvalidate" method="post" class="basic-grey"
style="margin:auto;position:absolute;left:350px;top:690px;width:264px;height:106px;">
    <label>
        <span> UserName :</span>
        <input id="name" type="text" name="name" placeholder="Your User Name" />
    </label>
    
    <label>
        <span> Password :</span>
        <input id="password" type="password" name="password" placeholder="Enter Password" />
    </label>
    
	<label>
        <span>&nbsp;</span> 
        <button type="submit" class="button" value="Login"> Login </button> 
    </label>    
</form>
<!-- LOGIN FORM END -->
<img src="wpimages/wp7d91fca1_06.png" border="0" width="133" height="47" id="qs_58" alt="" onload="OnLoadPngFix()" style="position:absolute;left:416px;top:700px;">
<img src="wpimages/logo.png" border="0" width="572" height="80" id="qs_60" alt="" onload="OnLoadPngFix()" style="position:absolute;left:212px;top:208px;">
<a rev="wplightbox~#~~#~~#~900~#~550"><map id="map0" name="map0">
    <area shape="poly" coords="27,39,31,36,35,34,40,32,44,29,40,26,36,23,32,20,29,17,25,16,25,40" href="http://www.youtube.com/embed/Rf_Zr2yS0dw" alt="">
</map>
<img src="wpimages/wp34f3b441_06.png" border="0" width="63" height="63" id="qs_59" alt="" onload="OnLoadPngFix()" usemap="#map0" style="position:absolute;left:458px;top:332px;">
<img src="wpimages/wp43ffd459_06.png" border="0" width="198" height="17" id="art_5" title="" alt="Watch a quick overview video&#10;" onload="OnLoadPngFix()" style="position:absolute;left:522px;top:353px;">
<a href="golive.png" target="_self" rev="wplightbox~#~~#~~#~500~#~400"><img src="wpimages/wp87bbcfa7_06.png" border="0" width="166" height="21" id="qs_62" title="" alt="golive.png" onload="OnLoadPngFix()" style="position:absolute;left:533px;top:304px;"></a>
</div>
</body>
</html>
